<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
<meta charset="UTF-8">
<title>spring基本</title>
</head>
<body>
<p>spring基本</p>
<div>HelloControllerでmodelに設定　th:text="${message}"</div>
<div th:text="${message}">htmlで表示</div>

<div>thymeleafに直接記載　th:text="直接記載"</div>
<div th:text="直接記載">htmlで表示</div>

<div>thymeleafに直接記載　[['この記載も可能']]</div>
<div>[['この記載も可能']]</div>

<div>HelloControllerでmodelに設定　[[${modelValue}]]</div>
<div>[[${modelValue}]]</div>

<div>thymeleafに直接記載　th:text="'連結' + '　できる'"</div>
<div th:text="'連結' + '　できる'">htmlで表示</div>

<div>thymeleafに直接記載　th:text="|文字と ${message}|"</div>
<div th:text="|文字と ${message}|">htmlで表示</div>

<div>thymeleafに直接記載　th:text="(30 * 20 + 10 / 5 - 1) % 3"</div>
<div th:text="(30 * 20 + 10 / 5 - 1) % 3">htmlで表示</div>

<div>thymeleafに直接記載 論理演算子　th:text="true and false or true and not true or !false"</div>
<div th:text="true and false or true and not true or !false">htmlで表示</div>

<div>thymeleafに直接記載 比較　th:text="true and false or true and not true or !false"</div>
<div th:text="1 < 10">htmlで表示</div>


</body>
</html>